<IfModule mod_rewrite.c>
    RewriteEngine On

    # Certifique-se de que RewriteBase está configurado corretamente
    RewriteBase /

    # Redireciona todas as requisições para index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^ index.php [QSA,L]
</IfModule>
